<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=""> <img src="../assets/images/icon.png" width="22" height="22" >Steam verde</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login" id="boton-login">LogIn</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrar">SignUp</button>
    </form>
  </div>
</nav>

<app-login></app-login>
<app-sing-up></app-sing-up>
<router-outlet></router-outlet>